
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        margin-right: 10px;
    }

    img {
        max-width: 100px;
        cursor: pointer;
    }

    .flex-container {
        display: flex;
        align-items: center;
        /* Alinhar verticalmente os elementos internos */
    }

    .flex-container>div {
        flex: 1;
        /* Distribuir o espaço igualmente entre as divs internas */
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        z-index: 2;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .modal-content>div {
        display: inline-block;
    }
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    .step-links a {
        color: #007bff;
        padding: 8px 16px;
        text-decoration: none;
    }
    
    .step-links a:hover {
        background-color: #007bff;
        color: white;
    }
