{% extends 'base.html' %}


{% block title %} DECKS {% endblock %}

{% block content %}

<form action="{% url 'comprar' %}" method="post">
{% csrf_token %}
    <button name="comprar_card" value="comprar"> comprar card</button>

</form>
<div>
    {% if cards %}
    <ul>
        {% for card in cards %}
        <li>
            <img src="{{ card.image }}" alt="Card Image" class="card-image" data-id-data="{{ card.id }}"
                data-image-data="{{ card.image }}" data-nome-data="{{card.name}}" data-type-data="{{ card.type }}"
                data-frameType-data="{{ card.frameType }}" data-desc-data="{{ card.desc }}"
                data-race-data="{{ card.race }}" data-atk-data="{{ card.atk }}" data-def-data="{{ card.def }}"
                data-attribute-data="{{ card.attribute }}" data-level-data="{{ card.level }}">
        </li>
       
        {% endfor %}
    </ul>
    {% else %}
    <p>.</p>
    {% endif %}
</div>
<div id="modal" class="modal">
    <div id="modal-content" class="modal-content">
        <span class="close">&times;</span>
    </div>
</div>
{% endblock %}