{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
<style>
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        margin-right: 10px;
    }

    img {
        max-width: 100px;
        cursor: pointer;
    }

    .flex-container {
        display: flex;
        align-items: center;
        /* Alinhar verticalmente os elementos internos */
    }

    .flex-container>div {
        flex: 1;
        /* Distribuir o espaço igualmente entre as divs internas */
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        z-index: 2;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .modal-content>div {
        display: inline-block;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const images = document.querySelectorAll(".card-image");
        const modal = document.getElementById("modal");
        const modalContent = document.getElementById("modal-content");
        const close = document.querySelector(".close");

        images.forEach((image) => {
            image.addEventListener("click", () => {
                modal.style.display = "block";

                // Obtenha os dados associados à imagem clicada (substitua por seus próprios dados)
                const idData = image.getAttribute("data-id-data");
                const imageData = image.getAttribute("data-image-data");
                const nameData = image.getAttribute("data-nome-data");
                const typeData = image.getAttribute("data-type-data");
                const decData = image.getAttribute("data-desc-data");
                const raceData = image.getAttribute("data-race-data");
                const atkData = image.getAttribute("data-atk-data");
                const defData = image.getAttribute("data-def-data");
                const levelData = image.getAttribute("data-level-data");
                const attributeData = image.getAttribute("data-attribute-data");

                // Atualize o conteúdo do modal com os dados da imagem
                if (typeData == "Trap Card" || typeData == "Spell Card") {
                    modalContent.innerHTML = `<div>
                        <h2>Detalhes do Card</h2>
                        <div class="flex-container">
                            <div>
                                <img src="${imageData}" alt="Card Image" style="max-width: 450px; ">
                            </div>
                                <div>
                                <h2>id: ${idData} | nome: ${nameData}</h2>
                                <h2>tipo: ${typeData}</h2>
                                <h2>raça: ${raceData}</h2>
                                <h2 style="background-color:green;color:white;width:20%;">descrição: </h2><p>${decData}</p>

                            </div>
                    `;
                } else {
                    modalContent.innerHTML = `<d

Python 97.6%
Other 2.4%iv>
                        <h2>Detalhes do Card</h2>
                        <div class="flex-container">
                            <div>
                                <img src="${imageData}" alt="Card Image" style="max-width: 450px; ">
                            </div>
                                <div>
                                <h2>id: ${idData} | nome: ${nameData}</h2>
                                <h2>tipo: ${typeData}</h2>
                                <h2>raça: ${raceData}</h2>
                                <h2>atk: ${atkData} | def: ${defData}</h2>
                                <h2>level: ${levelData}</h2>
                                <h2>atributo: ${attributeData}</h2>
                                <h2 style="background-color:green;color:white;width:20%;">descrição: </h2><p>${decData}</p>
                            </div>
                               
                        </div>
                    </div>
                    `;
                }

            });
        });

        close.addEventListener("click", () => {
            modal.style.display = "none";
        });

        window.addEventListener("click", (event) => {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        });
    });
</script>
<div>
    <div>
        <h1>Lista de Cards</h1>
        {% if cards %}
        <ul>
            {% for card in cards %}
            <li>
                <img src="{{ card.image }}" alt="Card Image" class="card-image" data-id-data="{{ card.id }}"
                    data-image-data="{{ card.image }}" data-nome-data="{{card.name}}" data-type-data="{{ card.type }}"
                    data-frameType-data="{{ card.frameType }}" data-desc-data="{{ card.desc }}"
                    data-race-data="{{ card.race }}" data-atk-data="{{ card.atk }}" data-def-data="{{ card.def }}"
                    data-attribute-data="{{ card.attribute }}" data-level-data="{{ card.level }}">
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhum card disponível no momento.</p>
        {% endif %}
    </div>
    <div id="modal" class="modal">
        <div id="modal-content" class="modal-content">
            <span class="close">&times;</span>
        </div>
    </div>

</div>
{% endblock %}